*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height:100%;
    color: #555;
    font: normal 14px "Microsoft YaHei";
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,form {  margin:0;  }

h1,h2,h3,h4,h5,h6 { font-weight: 500; }

ul,ol {
    padding-left:0;
    list-style-type:none;
}

a {
    text-decoration: none;
}

/*image with no-border*/
a img {
    border:0;
}

img{
    width: 100%;
    height: 100%;
    border:0;
    vertical-align: middle;
}

.btn {
    border: 0;
    outline: none;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.hide {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*清楚浮动*/
.fix {
    *zoom: 1;
}

.fix:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

/*头部公共样式*/

.g-hd {
    min-width: 1198px;
    width: 100%;
    background: #fff;
}
.g-hd-cont {
    margin: 0 auto;
    width: 1198px;
}

.m-logo .logo {
    margin: 29.5px 0 0 11px;
    display: inline-block;
    width: 174px;
    height: 41px;
    overflow: hidden;
}

.m-hd-nav {
    height: 100px;
}

.m-hd-nav li {
    position: relative;
    line-height: 115px;
    text-align: center;
}

.m-hd-nav li .hd-nav-a {
    display: inline-block;
    padding: 0 18px;
    height: 96px;
    font-size: 20px;
    border-bottom: 4px solid #fff;
    color: #555;
}

.nav-chilist {
    display: none;
    position: absolute;
    top: 100px;
    width: 930px;
    right: -226px;
    line-height: 1;
    background: rgba(0,0,0,.3);
    z-index: 12;
}

.nav-chilist .chil-item:nth-child(5),
.nav-chilist .chil-item:last-child {
    border-right: 1px solid transparent;
}

.chil-item {
    display: block;
    position: relative;
    margin: 16px 0 32px;
    height: 64px;
    width: 185px;
    text-align: center;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.chil-item a {
    color: #fff;
}

.chil-item .i-defaul {
    display: inline-block;
    height: 30px;
    overflow: hidden;
}

.chil-item .i-hover {
    display: none;
}

.chil-item:hover .i-defaul {
    display: none;
}

.chil-item:hover .i-hover {
    display: inline-block;
    height: 30px;
}

.chil-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
}

.m-hd-nav li .hd-nav-a:hover {
    color: #4099e9;
    background: #f5faff;
    border-bottom: 4px solid #4099e9 !important;
}

.m-hd-nav li .hd-nav-a:hover .nav-chilist {
    display: block;
}

.h-nav-active {
    color: #4099e9 !important;
    background: #f5faff;
    border-bottom: 4px solid #4099e9 !important;
}

.h-in-banner {
    position: relative;
    width: 100%;
    height: 490px;
}

.my-slideshow {
    width: 100%;
}