@charset "UTF-8";

.path-banner {
    margin: 0 auto;
    width: 1198px;
    text-align: center;
    background: #fff;
    overflow: hidden;
}

.path-banner a {
    display: block;
    float: left;
    font-size: 0;
    width: 20%;
    height: 100%;
    color: #555;
    transition: all .3s;
    cursor: default;
}

.path-banner a:hover {
    margin-top: -3px;
}

.path-banner a img {
    margin-top: 30px;
    width: 92px;
    height: 92px;
}

.path-banner a p {
    font-size: 20px;
    padding: 22px 8px;
}

.bg-0 {
    background: #f7f7f7;
}

.bg-f {
    background: #fff;
}

.container-types {
    margin: 0 auto;
    padding: 80px 0 50px;
    width: 1198px;
}

.container-types .types-title {
    position: relative;
    padding-bottom: 40px;
    font-size: 40px;
    color: #333;
    letter-spacing: .6px;
    font-weight: 500;
    text-align: center;
}

.types-content .types-item {
    padding-top: 90px;
    text-align: center;
    width: 395px;
}

.types-item a {
    position: relative;
    display: inline-block;
    margin: 0 46px;
    width: 196px;
}

.types-item p {
    padding-top: 10px;
    font-size: 28px;
    color: #333;
}

.types-icon {
    display: inline-block;
    height: 179px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.types-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 179px;
    width: 100%;
    z-index: 9;
}

.types-item a:hover .types-icon{
    display: inline-block;
}

.types-item a:hover .types-hover{
    display: block;
}

.types-icon.i-show {
    background: url("../images/index/icon/icon-show.png") no-repeat;
}

.types-icon.i-mating {
    background: url("../images/index/icon/icon-onli-mar.png") no-repeat;
}

.types-icon.i-exte {
    background: url("../images/index/icon/icon-exte.png") no-repeat;
}

.types-icon.i-gatew {
    background: url("../images/index/icon/icon-gatew.png") no-repeat;
}

.types-icon.i-wechat {
    background: url("../images/index/icon/icon-wechat-n.png") no-repeat;
}

.types-icon.i-e {
    background: url("../images/index/icon/icon-e.png") no-repeat;
}

.types-hover.i-hov-show {
    background: url("../images/index/icon/icon-hov-show.png") no-repeat;
}

.types-hover.i-hov-mating {
    background: url("../images/index/icon/icon-hov-mar.png") no-repeat;
}

.types-hover.i-hov-exte {
    background: url("../images/index/icon/icon-hov-exte.png") no-repeat;
}

.types-hover.i-hov-gatew {
    background: url("../images/index/icon/icon-hov-gate-w.png") no-repeat;
}

.types-hover.i-hov-wechat {
    background: url("../images/index/icon/icon-hov-wechat.png") no-repeat;
}

.types-hover.i-hov-e {
    background: url("../images/index/icon/icon-hov-e.png") no-repeat;
}

.t-ml44 {
    margin-left: -44px;
}

.types-content .case-item {
    float: left;
    margin: 39px 0 0 44px;
    width: 370px;
    height: 280px;
    transition: all .3s;
    overflow: hidden;
}

.types-content .case-item:hover {
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.2);
}

.case-item img {
    height: 100%;
}

.case-more {
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

.case-more a {
    color: #555;
}

.types-content .chat-text {
    padding-left: 8px;
    font-size: 16px;
    color: #666;
}

.types-chat-con {
    margin-top: 52px;
    padding-bottom: 35px;
}

.contact-info {
    width: 50%;
}

.sub-demand {
    width: 50%;
}

.contact-info h4,
.sub-demand h4 {
    padding: 0 0 22px 8px;
    font-weight: 500;
    font-size: 22px;
    color: #666;
}

.contact-info p {
    padding-left: 8px;
    font-size: 16px;
}

.contact-info .icon-info {
    display: inline-block;
    margin-bottom: 18px;
    padding-right: 11px;
    width: 50px;
    height: 50px;
    vertical-align: -webkit-baseline-middle;
}

.icon-info.icon-phone {
    background: url("../images/index/icon/icon-phone.png") no-repeat;
}

.icon-info.icon-mobile {
    background: url("../images/index/icon/icon-mobile.png") no-repeat;
}

.icon-info.icon-qq {
    background: url("../images/index/icon/icon-qq.png") no-repeat;
}

.icon-info.icon-msg {
    background: url("../images/index/icon/icon-msg.png") no-repeat;
}

.icon-info.icon-address {
    background: url("../images/index/icon/icon-address.png") no-repeat;
}

.types-s-icon {
    display: inline-block;
    height: 202px;
    width: 190px;
    overflow: hidden;
    opacity: 1;
    z-index: 1;
}

.types-s-hover {
    display: none;
    position: absolute;
    top: -19px;
    left: -19px;
    height: 228px;
    width: 228px;
    z-index: 9;
}

.types-item a:hover .types-s-icon{
    opacity: 0;
    display: inline-block;
}

.types-item a:hover .types-s-hover{
    display: block;
}

.types-s-icon.i-s1 {
    background: url("../images/index/icon/icon-s1.png") no-repeat;
}

.types-s-icon.i-s2 {
    background: url("../images/index/icon/icon-s2.png") no-repeat;
}

.types-s-icon.i-s3 {
    background: url("../images/index/icon/icon-s3.png") no-repeat;
}

.types-s-icon.i-s4 {
    background: url("../images/index/icon/icon-s4.png") no-repeat;
}

.types-s-icon.i-s5 {
    background: url("../images/index/icon/icon-s5.png") no-repeat;
}

.types-s-icon.i-s6 {
    background: url("../images/index/icon/icon-s6.png") no-repeat;
}

.types-s-icon.i-s7 {
    background: url("../images/index/icon/icon-s7.png") no-repeat;
}

.types-s-icon.i-s8 {
    background: url("../images/index/icon/icon-s8.png") no-repeat;
}

.types-s-icon.i-s9 {
    background: url("../images/index/icon/icon-s9.png") no-repeat;
}

.types-s-hover.i-hov-s1 {
    background: url("../images/index/icon/icon-hov-s1.png") no-repeat;
}

.types-s-hover.i-hov-s2 {
    background: url("../images/index/icon/icon-hov-s2.png") no-repeat;
}

.types-s-hover.i-hov-s3 {
    background: url("../images/index/icon/icon-hov-s3.png") no-repeat;
}

.types-s-hover.i-hov-s4 {
    background: url("../images/index/icon/icon-hov-s4.png") no-repeat;
}

.types-s-hover.i-hov-s5 {
    background: url("../images/index/icon/icon-hov-s5.png") no-repeat;
}

.types-s-hover.i-hov-s6 {
    background: url("../images/index/icon/icon-hov-s6.png") no-repeat;
}

.types-s-hover.i-hov-s7 {
    background: url("../images/index/icon/icon-hov-s7.png") no-repeat;
}

.types-s-hover.i-hov-s8 {
    background: url("../images/index/icon/icon-hov-s8.png") no-repeat;
}

.types-s-hover.i-hov-s9 {
    background: url("../images/index/icon/icon-hov-s9.png") no-repeat;
}

.map-container {
    margin-top: 26px;
    width: 100%;
    height: 300px;
}

.g-fo p {
    padding-bottom: 18px;
    text-align: center;
    color: #999;
    font-size: 14px;
}

/*去除地图左下角logo*/
.anchorBL {
    display: none;
}