@charset "UTF-8";

.g-hd {
    min-width: 1198px;
    width: 100%;
    background: #fff;
}
.g-hd-cont {
    margin: 0 auto;
    width: 1198px;
    height: 100px;
}

.m-logo .logo {
    margin: 29.5px 0 0 11px;
    display: inline-block;
    width: 174px;
    height: 41px;
    overflow: hidden;
}

.m-hd-nav li {
    line-height: 115px;
    text-align: center;
}

.m-hd-nav li a {
    display: inline-block;
    padding: 0 18px;
    height: 96px;
    font-size: 20px;
    border-bottom: 4px solid #fff;
    color: #555;
}

.h-nav-active {
    color: #4099e9;
    background: #f5faff;
    border-bottom: 4px solid #4099e9 !important;
}

.h-in-banner {
    width: 100%;
    height: 490px;
    background: #ccc;
}

.path-banner {
    margin: 0 auto;
    width: 1198px;
    text-align: center;
    background: #fff;
    overflow: hidden;
}

.path-banner a {
    display: block;
    float: left;
    font-size: 0;
    width: 20%;
    height: 100%;
    color: #555;
    transition: all .3s;
    cursor: default;
}

.path-banner a:hover {
    margin-top: -3px;
}

.path-banner a img {
    margin-top: 30px;
    width: 92px;
    height: 92px;
}

.path-banner a p {
    font-size: 20px;
    padding: 22px 8px;
}

.bg-0 {
    background: #f7f7f7;
}

.bg-f {
    background: #fff;
}

.container-types {
    margin: 0 auto;
    padding: 80px 0 80px;
    width: 1198px;
}

.container-types .types-title {
    position: relative;
    padding-bottom: 40px;
    font-size: 40px;
    color: #333;
    letter-spacing: .6px;
    font-weight: 500;
    text-align: center;
}

.types-content .types-item {
    float: left;
    padding-top: 90px;
    text-align: center;
    width: 395px;
}

.types-item a {
    position: relative;
    display: inline-block;
    margin: 0 46px;
    width: 196px;
    height: 240px;
}

.types-item a > p {
    padding-top: 10px;
    font-size: 28px;
    color: #333;
}

.types-icon {
    display: inline-block;
    height: 179px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.types-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 179px;
    width: 100%;
    z-index: 9;
}

.types-item a:hover .types-icon{
    display: inline-block;
}

.types-item a:hover .types-hover{
    display: block;
}

.types-icon.i-show {
    background: url("../images/index/icon-show.png") no-repeat;
}

.types-icon.i-mating {
    background: url("../images/index/icon-onli-mar.png") no-repeat;
}

.types-icon.i-exte {
    background: url("../images/index/icon-exte.png") no-repeat;
}

.types-icon.i-gatew {
    background: url("../images/index/icon-gatew.png") no-repeat;
}

.types-icon.i-wechat {
    background: url("../images/index/icon-wechat-n.png") no-repeat;
}

.types-icon.i-e {
    background: url("../images/index/icon-e.png") no-repeat;
}

.types-hover.i-hov-show {
    background: url("../images/index/icon-hov-show.png") no-repeat;
}

.types-hover.i-hov-mating {
    background: url("../images/index/icon-hov-mar.png") no-repeat;
}

.types-hover.i-hov-exte {
    background: url("../images/index/icon-hov-exte.png") no-repeat;
}

.types-hover.i-hov-gatew {
    background: url("../images/index/icon-hov-gate-w.png") no-repeat;
}

.types-hover.i-hov-wechat {
    background: url("../images/index/icon-hov-wechat.png") no-repeat;
}

.types-hover.i-hov-e {
    background: url("../images/index/icon-hov-e.png") no-repeat;
}

.t-ml44 {
    margin-left: -44px;
}

.types-content .case-item {
    float: left;
    margin: 39px 0 0 44px;
    width: 370px;
    height: 280px;
    transition: all .3s;
    overflow: hidden;
}

.types-content .case-item:hover {
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.2);
}

.case-item img {
    height: 100%;
}

.case-more {
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

.case-more a {
    color: #555;
}

.types-content .chat-text {
    padding-left: 8px;
    font-size: 16px;
    color: #666;
}

.types-chat-con {
    margin-top: 52px;
}

.contact-info {
    width: 50%;
}

.sub-demand {
    width: 50%;
}

.contact-info h4,
.sub-demand h4 {
    padding: 0 0 22px 8px;
    font-weight: 500;
    font-size: 22px;
    color: #666;
}

.contact-info p {
    font-size: 16px;
}

.contact-info .icon-info {
    display: inline-block;
    margin-bottom: 18px;
    padding: 0 11px 0 8px;
    width: 50px;
    height: 50px;
    vertical-align: -webkit-baseline-middle;
}

.icon-info.icon-phone {
    background: url("../images/index/icon-phone.png") no-repeat;
}

.icon-info.icon-mobile {
    background: url("../images/index/icon-mobile.png") no-repeat;
}

.icon-info.icon-qq {
    background: url("../images/index/icon-qq.png") no-repeat;
}

.icon-info.icon-msg {
    background: url("../images/index/icon-msg.png") no-repeat;
}

.icon-info.icon-address {
    background: url("../images/index/icon-address.png") no-repeat;
}